body{
    background-color:rgb(168, 168, 22);
}

#calc-body{
    width:300px;
    margin:0 auto;
    
    border:1px solid black;
    border:none;
    border-radius:20px;
    position: relative;
    top:50px;
    background-color:rgb(78, 77, 77);
    
}
#calc-btn{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
}
#calc-head{
    border-radius:20px 20px 0px 0px;
    width:100%;
    height:100px;
    background-color:rgb(134, 132, 132);
}

input[type="text"]{
    width:70%;
    padding:20px;
    position: relative;
    top:20px;
    left:25px;
    border-radius:10px;
    background-color:white;
    margin: 0 auto;
}
input[type="text"]:focus{
    font-size:30px;
}
.btn{
    margin:10px;
    border:1px solid black;
    border:none;
    /* text-align:center; */
    padding:20px;
    width:50px;
    background-color: rgb(155, 151, 146);
    color:white;
    font-weight:bold;
    font-size:25px;
}
.btn-clear{
    background-color: red;
}